<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>银汉游戏运维自助平台</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body>
<div>
<ul class="header">
    <li class="header"><a class="header" href="/help/"><img height="40px" src="/static/img/tomato.svg"><span style="font: 28px bold"> 自助平台</span></a></li>
</ul>
</div>

<div>
    <div class="left">
        <ul class="page">
          <li class="page"><a class="page" href="/monitor/"><img src="/static/img/home.svg"> 控制台</a></li>
          <li class="page"><a class="page" href="/worklist/"><img src="/static/img/task.svg"> 作业系统</a></li>
          <li class="page"><a class="page" href="/upload/"><img src="/static/img/upload.svg" > 文件上传</a></li>
          <li class="page"><a class="page" href="/download/"><img src="/static/img/download.svg" > 文件下载</a></li>
          <li class="page"><a class="page active" href="/help"><img src="/static/img/mail.svg"> 帮助页面</a></li>
        </ul>
    </div>
</div>
<div class="right">
        <h1>自助平台使用帮助</h1>
        <p>这是由运维部应用运维小组独立开发的运维自助平台</p>
        <p>旨在为本地测试服提供简单的作业和文件操作</p>
        <p>如有问题，请直接邮件发送至应用运维小组</p>
        <p>更新日期： 2018-06-03 19:00</p>
        <p>Copyright © 2018 银汉应用运维小组</p>
        <p></p>
    </div>
</body>
</html>

