<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>银汉游戏运维自助平台--{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body>
<div>
    <ul class="header">
        <li class="header"><a class="header" href="/help/"><img height="40px" src="/static/img/tomato.svg"><span
                style="font: 28px bold"> 自助平台</span></a></li>
    </ul>
</div>

<div>
    <div class="left">
        <ul class="page">
            {% for x in info_dict %}
                {% if request.path == x.menu_link %}
                    <li class="page"><a class="page active" href="{{ x.menu_link }}"><img
                            src="{{ x.menu_img }}"> {{ x.menu_name }}</a></li>
                {% else %}
                    <li class="page"><a class="page" href="{{ x.menu_link }}"><img
                            src="{{ x.menu_img }}"> {{ x.menu_name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>

